.container-fluid{
background-color: #051840;
}
 #inicio{
  color: white;
 }      
 .nav-link{
  color: white;
 }

nav ul li:hover {
  background: #324fc1;

}
nav .navbar-toggler
{
  background-color: #324fc1;
}

 
