*{
    font-family: Helvetica;
    
}
body {
    background-color: #C5D2EC;
}
.fondo
{
    background-color: #C5D2EC;
}
.informacion_general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacto_empredimiento {
    display: flex;
    align-items: center;
}

.contacto_empredimiento img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.numero_empre
{
    text-decoration: none;
    color: black;
}
#img_size
{
    width: 300px;
    height: 250px;
    border-radius: 15px;
}
.video-section
{
    margin: 20px 20px 20px 20px;
    align-items: center;  
    text-align: center;
}

.mensaje_video
{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: auto;
    height: 80px;
    background-color: #324fc1;
    margin-left: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white;
    text-align: center;
    padding: 30px 30px;
    color: white;
}
@media (max-width: 768px) {
    #img_size {
        width: 100px;
        height: 100px; 
    }
}
@media (max-width: 768px) {
    .container {
        font-size: 14px; /* Cambia el tamaño de fuente para pantallas pequeñas */
        height: auto; /* Restaura la altura automática para que se ajuste al contenido */
        padding: 10px;  /* Cambia el tamaño de fuente para pantallas pequeñas */
    }
}
@media (max-width: 768px) {
    .mensaje_video {
        font-size: 14px; /* Cambia el tamaño de fuente para pantallas pequeñas */
        height: auto; /* Restaura la altura automática para que se ajuste al contenido */
        padding: 10px; /* Ajusta el espacio interno */
    }
}

.botones_accion {
    background-color: #C5D2EC;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#volverBtn {
    margin-left: 50px;
    margin-right: auto;/* Coloca este botón a la izquierda */
}

#button-right {
    align-items: right;
    order: 2;
    margin-right: 50px; /* Coloca estos dos botones a la derecha */
}