*{
    font-family: Helvetica;
}

.body
{
    background-color: #C5D2EC;
}

.fondo{
    background-color: #C5D2EC;
    min-height: 100%;
    width: 100%;
    position: absolute;
}
.caja{
    background-color: #e1e2e4;
    margin-left: 50px;
    margin-right:  50px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}
.nav_emprendedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .caja {
        max-height: 80%; /* En pantallas más pequeñas, la caja ocupará todo el ancho disponible */
    }
}
.imagen_nav{
    max-width: 100%;
    text-align: left;
    justify-content: left;
    width: 90px;
    height: auto;
}
.bienvenida_emprendedor
{
    border-radius: 15px;
    width: auto;
    height: 80px;
    background-color: #06307a; 
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 30px 30px;
    color: white;
}
.usuario{
    max-width: 50%;
    text-align: right;
    justify-content: right;
    width: 70px;
    height: auto;
}

.close-button {
    background-color: #A10808;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 120px;
    height: 38px;
    float: right;
    margin-bottom: 10px;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #473232; 
}

@media (max-width: 768px) {
    .close-button {
        width: auto; /* Restaura el ancho automático para que se ajuste al contenido */
        max-width: 100%; /* Asegura que el botón no desborde su contenedor */
        margin-top: 10px; /* Agrega espacio entre el botón y la imagen */
    }
}

.slider-frame {
    margin-top:10px;
    width: 1280px;
    display: block;
    overflow: hidden;
    line-height:0;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
	height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 30px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev-icon {
    left: 0;
  }
  
  .carousel-control-next-icon {
    right: 0;
  }

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.cuadros {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 400px;
    height: 200px;
    padding: 20px;
    background-image: url('../imagenes/vista_emprendimiento.png');
    background-size: 400px 200px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    color: white
}

#boton{
        background-image: url(../imagenes/usuario.png);
     background-color: #e1e2e4; 
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-size: 66px;
        border-color: #e1e2e4;
      
}

/* Estilos para la galería */
.gallery{
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}
/* Estilos para la galería */
.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para resaltar la imagen en hover */
@media (max-width: 550px) {
    .gallery-item:hover {
        transform: none;
    } 
}
@media (min-width: 768px) {
    .gallery-item:hover {
        transform: scale(1.05); 
    }
}

/* Estilos para el indicador en cada cuadro */
.gallery-item::before {
    content: attr(data-tags);
    background-color: rgba(81, 76, 76, 0.7);
    color: #e1e2e4;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    font-size: 14px;
}
/* #img_size
{
    width: 280px;
    height: 250px;
} */
/* Tamaño de letra para pantallas más pequeñas */
@media (max-width: 576px) {
    #card-body_id {
        width: 250px;
        }
}

.mensaje_empredimientos
{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: auto;
    height: 80px;
    background-color: #324fc1;
    margin-left: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white;
    text-align: center;
    padding: 30px 30px;
    color: white;
}
